\---
layout: default
\---

-# FACEBOOK
#fb-root
%script
	(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
-# /FACEBOOK

%article.post
	%header.post-header
		%h1
			{{ page.title }}
		%span.post-date
			Published:
			%time{datetime: "{{ page.date | date_to_xmlschema }}", pubdate: "pubdate"}
				{{ page.date | date: "%B %d, %Y" }}

		%a.icon-rss{href: "/rss.xml"}
	.post-content 
		{{ content }}

	.post-buttons
		-# TWITTER
		%a.twitter-share-button{href: "https://twitter.com/share", "data-via" => "heykarthikhere", "data-text" => "{{ page.title }}"}
			Tweet
		-# /TWITTER

		-# FACEBOOK
		.fb-like{"data-href" => "{{ site.url }}{{ page.url }}", "data-send" => "false", "data-layout" => "button_count", "data-show-faces" => "false"}
		-# /FACEBOOK

		%a.button.dark.back-to-blog{href: "/blog/"} &laquo; Read More!

	-# DISQUS
	#disqus_thread

	%noscript
		Please enable JavaScript to view the 
		%a{href: "http://disqus.com/?ref_noscript"} comments powered by Disqus.
	%a.dsq-brlink{href: "http://disqus.com"}
		comments powered by 
		%span.logo-disqus Disqus
	-# /DISQUS

-# TWITTER
%script
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
-# /TWITTER

-# DISQUS
%script
	var 
	disqus_shortname = ' nuskarthik',
	disqus_identifier = '{{ page.url }}',
	disqus_title = '{{ page.title }}',
	disqus_url = '{{ site.url }}{{ page.url }}';

	(function() {
	var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
-# /DISQUS