\---
layout: base
title: CV
\---

%a.cv-back-link{href: "/"} &laquo; Back Home

.cv
  .cv-card

    %img.avatar{src: "/images/avatar-large.png"}
    .cv-card-title
      %h1.cv-card-name I am Assaf Gelber
      %span.cv-card-job Development & Design
    
    .cv-card-bio
      %p I am a 20 year developer currently based in Israel. I am very passionate about doing anything related to development and design, whether it be creating a complete website from scratch or building work automation tools to up productivity. Other than that, I play poker, drink beer and a few other things here and there.
    
    .cv-card-contact
      %ul.cv-contact-personal
        %li.cv-contact-item
          %span.icon-email.contact-label
          %span.contact-value 
            %a{href: "assaf.gelber@gmail.com"} assaf.gelber@gmail.com
        %li.cv-contact-item
          %span.icon-phone.contact-label
          %span.contact-value +972-547-650893
      %ul.cv-contact-web
        %li.cv-contact-item
          %span.icon-site.contact-label
          %span.contact-value
            %a{href: "http://agelber.com"} agelber.com
        %li.cv-contact-item
          %span.icon-blog.contact-label
          %span.contact-value
            %a{href: "http://agelber.com/blog"} agelber.com/blog
      %ul.cv-contact-social
        %li.cv-contact-item
          %span.icon-twitter.contact-label
          %span.contact-value
            %a{href: "http://twitter.com/assafgelber"} @assafgelber
        %li.cv-contact-item
          %span.icon-github.contact-label
          %span.contact-value
            %a{href: "http://github.com/agelber"} @agelber

  .cv-experience
    %h2 Experience
    %ul
      %li.cv-experience-item
        .cv-experience-place
          %h3 Partner and Developer at Stylift
          %span.cv-experience-time
            September 2013 - Present
          %p.cv-experience-place-desc A fashion discovery and shopping start-up
        .cv-experience-desc
          %p I am the only developer at Stylift, designing and building the web version of our product in Ruby on Rails with the help of coffeescript and SASS.
          %p As the third partner at Stylift, I was also very much involved in all the business aspects of creating a start-up company.

      %li.cv-experience-item
        .cv-experience-place
          %h3 R&D Team Member in Unit 8200 of the IDF
          %span.cv-experience-time
            July 2011 - Present (Ending July 2014)
          %p.cv-experience-place-desc Elite technological unit in the Israeli Intelligence Corps
        .cv-experience-desc
          %p As part of my mandatory military service, I was accepted and drafted to be a developer in unit 8200.
          %p I work in a small team which detects issues in the way the organization works and solves them with any technology necessary, mostly work automation and data-analysis tools.

  .cv-skills
    %h2 Skills
    %ul
      %li.cv-skill
        %span Ruby/Rails
        %ul.cv-meter
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.off
          %li.off

      %li.cv-skill
        %span Javscript/jQuery
        %ul.cv-meter
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.off

      %li.cv-skill
        %span HTML5 & CSS3
        %ul.cv-meter
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on

      %li.cv-skill
        %span UI/UX
        %ul.cv-meter
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
      
      %li.cv-skill
        %span Python
        %ul.cv-meter
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.off
          %li.off

      %li.cv-skill
        %span SQL
        %ul.cv-meter
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.off
          %li.off
          %li.off
          %li.off
          %li.off

      %li.cv-skill
        %span Learning
        %ul.cv-meter
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on

  .cv-languages
    %h2 Languages
    %ul
      %li.cv-language
        %span English
        %ul.cv-meter
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on

      %li.cv-language
        %span Hebrew
        %ul.cv-meter
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on

      %li.cv-language
        %span Javascript
        %ul.cv-meter
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.on
          %li.off