\---
layout: base
title: CV
\---

%a.cv-back-link{href: "/"} &laquo; Back Home

.cv
  .cv-card

    %img.avatar{src: "/images/avatar-large.png"}
    .cv-card-title
      %h1.cv-card-name I am Karthik Rajasekaran
      %span.cv-card-job Engineer & developer
    
    .cv-card-bio
      %p I am a 20 year student currently based in Singapore. I am very passionate about doing anything related to agile development and design, whether it be creating a complete website from scratch or building a hardware hack in a day. I enjoy immersing myself in the culture of other hackers and geeks frequeting hackathons and tech talks. I enjoy discussing the next big thing whether in the startup culture or in experimental research. Here is my resume.
    
    .cv-card-contact
      %ul.cv-contact-personal
        %li.cv-contact-item
          %span.icon-email.contact-label
          %span.contact-value 
            %a{href: "nuskarthik@gmail.com"} nuskarthik@gmail.com
        %li.cv-contact-item
          %span.icon-phone.contact-label
          %span.contact-value +65-98916426
      %ul.cv-contact-web
        %li.cv-contact-item
          %span.icon-site.contact-label
          %span.contact-value
            %a{href: "http://karthik.github.io"} karthik.github.io
        %li.cv-contact-item
          %span.icon-blog.contact-label
          %span.contact-value
            %a{href: "http://karthik.github.io/blog"} karthik.github.io/blog
      %ul.cv-contact-social
        %li.cv-contact-item
          %span.icon-twitter.contact-label
          %span.contact-value
            %a{href: "http://twitter.com/heykarthikhere"} @heykarthikhere
        %li.cv-contact-item
          %span.icon-github.contact-label
          %span.contact-value
            %a{href: "http://github.com/nuskarthik"} @nuskarthik