\---
layout: base
\---

%nav
	%a{href: "/blog/"} Blog
	%a{href: "/cv.html"} My CV

.bio
	.me
		%img.avatar{src: "/images/avatar-large.png"}
		.bio-profiles
			{% include profile_links.html %}

	.bio-carousel
		.bio-desc
			%div.desc-part.active.name
				%p I am
				%h1 Karthik Rajasekaran
			%div.desc-part
				%p I am a student, developer, engineer, and geek always looking for the next awesome thing.
			%div.desc-part
				%p 
					You can find out more about me in
					%a{href: "/cv.html"} my CV
					or if you are in interested in the written, you can visit
					%a{href: "/blog/"} my blog
					\.
			%div.desc-part
				%p Feel free to contact me on any of the links below or via email at nuskarthik@gmail.com!

		.bio-nav
			%a.prev{href: "#"} &laquo;
			%a.next{href: "#"} &raquo;
