\---
layout: base
\---

%nav
	%a{href: "https://www.github.com/nuskarthik"} Projects
	%a{href: "/cv.html"} Work

.bio
	.me
		%img.avatar{src: "/images/avatar-large.png"}
		.bio-profiles
			{% include profile_links.html %}

	.bio-carousel
		.bio-desc
			%div.desc-part.active.name
				%p I am
				%h1 Karthik Raj
			%div.desc-part
				%p A software engineer who likes building things to solve real world problems.
			%div.desc-part
				%p 
					Here you can find out more about  
					%a{href: "/cv.html"} my work
					and see some of my 
					%a{href: "https://www.github.com/nuskarthik"} projects
					\.
			%div.desc-part
				%p Feel free to contact me about anything at 
				%a{href: "mailto:nuskarthik@gmail.com"} email!

		.bio-nav
			%a.prev{href: "#"} &laquo;
			%a.next{href: "#"} &raquo;
