<a class='profile-link twitter' data-user='heykarthikhere' href='https://twitter.com/heykarthikhere'>
  <img alt='twitter' src='/images/twitter.png'>
</a>
<a class='profile-link github' data-user='nuskarthik' href='https://github.com/nuskarthik'>
  <img alt='github' src='/images/github.png'>
</a>
<a class='profile-link codepen' data-user='nuskarthik' href='https://codepen.io/nuskarthik'>
  <img src='/images/codepen.png'>
</a>
<a class='profile-link linkedin' data-user='karthikraj' href='http://www.linkedin.com/pub/karthik-rajasekaran/7b/6a7/913'>
  <img src='/images/linkedin.png'>
</a>
