\---
layout: default
title: 'Blog'
\---

%h1 Latest Posts

%a.icon-rss{href: "/rss.xml"}

%section.latest-posts
  %ul
    {% for post in site.posts %}
    %li.post-preview
      %a{href: "{{ post.url }}"}
        %h3
          {{ post.title }}
      %span.post-time
        {{ post.date | date: "%B %d, %Y" }}
      .post-excerpt
        {{ post.excerpt }}
      %a{href: "{{ post.url }}"} Read more &raquo;
    {% endfor %}