%header.site-header
  .header-content

    .header-bio
      %p I am
      %a{href: "/"}
        %h1 Assaf Gelber
      
      %p I am a web geek, a rubyist and generally an appreciator of awesome things.

      .header-profiles
        {% include profile_links.html %}