%header.site-header
  .header-content

    .header-bio
      %p I am
      %a{href: "/"}
        %h1 Karthik Rajasekaran
      
      %p Student:Coder:Engineer:Geek Always looking for the next awesome thing.

      .header-profiles
        {% include profile_links.html %}