%a.profile-link.twitter{href: "https://twitter.com/assafgelber", "data-user" => "assafgelber"}
	%img{src: "/images/twitter.png", alt: "twitter"}
%a.profile-link.github{href: "https://github.com/agelber", "data-user" => "agelber"}
	%img{src: "/images/github.png", alt: "github"}
%a.profile-link.codepen{href: "https://codepen.io/agelber", "data-user" => "agelber"}
	%img{src: "/images/codepen.png"}
%a.profile-link.linkedin{href: "http://www.linkedin.com/in/assafgelber", "data-user" => "assafgelber"}
	%img{src: "/images/linkedin.png"}