%a.profile-link.twitter{href: "https://twitter.com/heykarthikhere", "data-user" => "heykarthikhere"}
	%img{src: "/images/twitter.png", alt: "twitter"}
%a.profile-link.github{href: "https://github.com/nuskarthik", "data-user" => "nuskarthik"}
	%img{src: "/images/github.png", alt: "github"}
%a.profile-link.linkedin{href: "http://www.linkedin.com/in/nuskarthik", "data-user" => "nuskarthik"}
	%img{src: "/images/linkedin.png"}