%a.profile-link.twitter{href: "https://twitter.com/heykarthikhere", "data-user" => "heykarthikhere"}
	%img{src: "/images/twitter.png", alt: "twitter"}
%a.profile-link.github{href: "https://github.com/nuskarthik", "data-user" => "nuskarthik"}
	%img{src: "/images/github.png", alt: "github"}
%a.profile-link.codepen{href: "https://codepen.io/nuskarthik", "data-user" => "nuskarthik"}
	%img{src: "/images/codepen.png"}
%a.profile-link.linkedin{href: "http://www.linkedin.com/pub/karthik-rajasekaran/7b/6a7/913", "data-user" => "karthikraj"}
	%img{src: "/images/linkedin.png"}